---
layout: default
title: GitLab for the enterprise
suppress_header: true
extra_css:
  - styles-2018.css
---
.wrapper
  .simple-header
    %h1 GitLab for the enterprise
    %h2 Join us live! Choose a date below.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p GitLab for the enterprise brings all the necessary tools for modern development into a single UI. In this demo, you'll get a first-hand look at how GitLab integrates version control, project management, code review, testing, and deployment to help enterprise teams move faster from planning to monitoring.

          .content-section
            %h3 We'll show GitLab's built-in:
            %ul
              %li End-to-end workflow
              %li Code review tools
              %li Continuous integration and deployment
              %li Production monitoring

        .col-md-4.col-md-offset-1
          %h2 Coming Soon!
          %p We are currently working on a new demo program and there are no webcast dates scheduled at this time. Please check back soon.

  = partial "includes/home/customer-logos-transparent"
