@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "mixins/ie10-and-up";
@import "vendor/select2";
@import "components/asset-hero";

$lt-filter-spacing: 16px;

// TODO Should this be moved into a shared CSS?
.intro {
  margin: 40px 0 80px;
  font-size: 18px;
  text-align: center;
}

.resources-filter {
  margin-bottom: #{80px - $lt-filter-spacing};
  text-align: center;

  select {
    display: inline-block;
    width: 244px;
    margin: 0 16px;
    border: 1px solid $border-color;
    border-radius: 3px;
    background: $color-white;
    font-size: 18px;
  }
}

// Allow Select2 class names
// scss-lint:disable SelectorFormat
.select2-container--default {
  margin-bottom: $lt-filter-spacing;

  @media(min-width: 601px) {
    &:not(:first-of-type) {
      margin-left: #{2 * $lt-filter-spacing};
    }
  }

  @media(max-width: 600px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .select2-selection--single {
    height: 38px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-color: $border-color;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;

    .select2-selection__arrow {
      height: 36px;
    }
  }
}

.select2-dropdown {
  border-color: $border-color;
}

.select2-search--dropdown {
  display: none;
}

.select2-results__option {
  font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-primary;
}
// scss-lint:enable SelectorFormat

.resource-tile-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 80px;
  padding: 0;
  list-style: none;
}

.resource-tile {
  $lt-h-margin: 15px;
  flex: 0 0 calc(33.3% - #{2 * $lt-h-margin});
  min-height: 372px;
  margin: 0 $lt-h-margin #{2 * $lt-h-margin};
  padding: 40px 20px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background: $color-white;

  @media (max-width: $screen-sm-max) {
    flex: 0 0 calc(50% - #{2 * $lt-h-margin});
  }

  @media (max-width: $screen-xs-max) {
    flex: 0 0 calc(100% - #{2 * $lt-h-margin});
    min-height: 0;
  }

  @include ie10-and-up {
    flex-basis: 27%;
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-basis: 25%;
    }

    @media (max-width: $screen-sm-max) {
      flex-basis: 40%;
    }

    @media (max-width: $screen-xs-max) {
      flex-basis: 90%;
    }
  }

  &.js-hover {
    cursor: pointer;
  }
}

.resource-tile-title {
  margin-top: 0;
  font-size: 22px;
  line-height: 1.3;

  > a {
    @include font-weight-semibold;
  }
}

.resource-tile-type {
  display: block;
  margin-bottom: 20px;
  color: $blueish-gray;
  text-transform: uppercase;
}

.resource-tile-teaser {
  margin-bottom: 20px;
  font-size: 18px;
}

.resource-tile-cta {
  @include font-weight-semibold;
  font-size: 18px;
  text-decoration: underline;

  .js-hover & {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.resources-no-results-msg {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
